@{
    ViewData["Title"] = "ResetPassWord";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}
@{
    Medyx_EMR_BCA.Models.DBConText.ResetPassword Model = ViewData["ResetPassword"] as Medyx_EMR_BCA.Models.DBConText.ResetPassword;
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        //window.onload = function () {
            alert("@Html.Raw(@ViewBag.Message)");
        //};
    </script>
}
<h2>Thay đổi mật khẩu</h2>
@using (Html.BeginForm("ResetPassWord", "Home", FormMethod.Post))
{
    <div id="error"></div>
    <div class="form">
        <div class="forceColor"></div>
        <div class="topbar">
            <div class="spanColor"></div>
            <div class="row col-xs-12">
                <div class="col-xs-2"> <label for="html">Tên tài khoản: </label></div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(model => Model.userName, new { @readonly = "readonly", @class = "input", @placeholder = "Nhập tài khoản" })
                </div>
            </div>
            <div class="row col-xs-12">
                <div class="col-xs-2"><label for="html">Mật khẩu cũ: </label></div>
                <div class="col-xs-3">
                    @Html.PasswordFor(model => Model.PasswordCu, new { @class = "input", @placeholder = "Nhập mật khẩu" })
                </div>
            </div>
            <div class="row col-xs-12">
                <div class="col-xs-2"><label for="html">Mật khẩu mới: </label></div>
                <div class="col-xs-3">
                    @Html.PasswordFor(model => Model.PasswordMoi, new { @class = "input", @placeholder = "Nhập mật khẩu" })
                </div>
            </div>
            <div class="row col-xs-12">
                <div class="col-xs-2"><label for="html">Nhập lại mật khẩu mới: </label></div>
                <div class="col-xs-3">
                    @Html.PasswordFor(model => Model.PasswordNhapLai, new { @class = "input", @placeholder = "Nhập mật khẩu" })
                </div>
            </div>
        </div>
        <button class="submit" id="submit">Lưu</button>
    </div>
}
